<div class="table-container container">
<table class="table border-2">
  <thead class="table border-black">
    <tr>
      <th>Room ID</th>
      <th>Nom Complet</th>
      <th>Email</th>
      <th>Check-in Date</th>
      <th>Check-out Date</th>
      <th>Total Price</th>
      <th>Paid</th>
      <th>Cancelled</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of Reservations" class="table border-black">
      <td>{{ reservation.roomId }}</td>
      <td>{{ reservation.nomComplet }}</td>
      <td>{{ reservation.mail }}</td>
      <td>{{ reservation.checkIn | date }}</td>
      <td>{{ reservation.checkOut | date }}</td>
      <td>{{ reservation.totalPrice }}</td>
      <td>{{ reservation.isPaid ? 'Yes' : 'No' }}</td>
      <td>{{ reservation.isCancelled ? 'Yes' : 'No' }}</td>
    </tr>
  </tbody>
</table>
</div>