<div class="container mt-4">
  <div *ngIf="hotel">
    <h1 class="text-center">Welcome to {{ hotel.name }}</h1>
  </div>
  <br>
  <div class="row" *ngIf="rooms && rooms.length > 0; else noRooms" >
    <div class="col-md-4" *ngFor="let room of rooms">
      <div class="card mb-4" >
        <div class="card-body" id="carte">
          <h5 class="card-title">La chambre numéro : {{ room.roomNumber }}</h5>
          <p class="card-text">
            Type de chambre: {{ room.type }}
          </p>
          <p class="card-text">
            Prix: {{ room.price }} MAD
          </p>
          <p class="card-text">
            Disponibilité: {{ room.isAvailable ? 'Disponible' : 'Non disponible' }}
          </p>
          <!-- home.component.html -->
           <!-- home.component.html -->
          <a [routerLink]="['/room-detail', room.roomId]" class="btn btn-primary">Voir la Chambre</a><br/><br/>
          <a [routerLink]="['/reservation', room.roomId]" class="btn btn-primary">Reserver</a>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noRooms>
    <p class="text-center">Aucune chambre disponible pour le moment.</p>
  </ng-template>
</div>
