<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Serin Hotels</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rooms/1">Rooms</a> <!-- Vous pouvez remplacer "1" par l'ID d'hôtel souhaité -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-dashboard">User Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservation/1">Book a Room</a> <!-- Remplacez "1" par l'ID de chambre souhaité -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/logout">Log out</a>
        </li>
      </ul>
    </div>
  </nav>
  